<div class="mainbanner" @fade>

                <!-- <div class="slider" > -->
                    <img class="img" src="../../../assets/Our_services.jpg">
                <!-- </div> -->
</div>

<div class="container-fluid" style="margin-top: 80px;" @fade>
    <div class="banner-heading">
        <h2 style="font-size: 40px;"><b>Our Services</b></h2>
        <hr style="height: 1px; width: 80px;">
    </div>
    <!-- <div class="box"> -->
    <!-- First Row -->
    <div class="row mb-5 mt-5" style="margin-bottom: 30px;">
        <div class="col-md">
            <div class="card-services">
                <div class="imgBx">
                    <img class="img-fluid" src="../../../assets/services/Depression.png" alt="images">
                </div>
                <div class="details">
                    <h2>Depression<br><span>Treatment</span></h2>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card-services">
                <div class="imgBx">
                    <img class="img-fluid" src="../../../assets/services/Anti_axienty_Counselling.png" alt="images">
                </div>
                <div class="details">
                    <h2>Anxiety<br><span>Treatment</span></h2>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card-services">
                <div class="imgBx">
                    <img class="img-fluid" src="../../../assets/services/Post_partum_Depression.png" alt="images">
                </div>
                <div class="details">
                    <h2>Post- partum<br><span>Depression</span></h2>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card-services">
                <div class="imgBx">
                    <img src="../../../assets/services/Relationship_Counselling.jpg" alt="images">
                </div>
                <div class="details">
                    <h2>Relationship<br><span>Issues</span></h2>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!-- Second Row -->
    <div class="row mb-5 mt-5" style="margin-bottom: 30px;">
        <div class="col-md">
            <div class="card-services">
                <div class="imgBx">
                    <img class="img-fluid" src="../../../assets/services/Marriage_counselling.jpg" alt="images">
                </div>
                <div class="details">
                    <h2>Marriage<br><span>Counselling</span></h2>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card-services">
                <div class="imgBx">
                    <img class="img-fluid" src="../../../assets/services/Stress_management.jpg" alt="images">
                </div>
                <div class="details">
                    <h2>Stress<br><span>Management</span></h2>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card-services">
                <div class="imgBx">
                    <img class="img-fluid" src="../../../assets/services/Anger_Management.jpg" alt="images">
                </div>
                <div class="details">
                    <h2>Anger<br><span>Management</span></h2>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card-services">
                <div class="imgBx">
                    <img src="../../../assets/services/Life_Coaching.jpg" alt="images">
                </div>
                <div class="details">
                    <h2>Life<br><span>Coaching</span></h2>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!-- Third row -->

    <div class="row mb-5 mt-5" style="margin-bottom: 30px;">
        <div class="col-md">
            <div class="card-services">
                <div class="imgBx">
                    <img class="img-fluid" src="../../../assets/services/Teenage_Counselling.png" alt="images">
                </div>
                <div class="details">
                    <h2>Teen<br><span>Counselling</span></h2>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card-services">
                <div class="imgBx">
                    <img class="img-fluid" src="../../../assets/services/Sleep_disorder.jpg" alt="images">
                </div>
                <div class="details">
                    <h2>Sleep<br><span>Disorder</span></h2>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card-services">
                <div class="imgBx">
                    <img class="img-fluid" src="../../../assets/services/Career_Counselling.jpg" alt="images">
                </div>
                <div class="details">
                    <h2>Career<br><span>Guidance</span></h2>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card-services">
                <div class="imgBx">
                    <img src="../../../assets/services/Family_Counselling.jpg" alt="images">
                </div>
                <div class="details">
                    <h2>Family<br><span>Counselling</span></h2>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!-- Fourth Row -->
    <div class="container">
        <div class="row mb-5 mt-5">
            <div class="col-md">
                <div class="card-services">
                    <div class="imgBx">
                        <img class="img-fluid" src="../../../assets/services/Eating_Disorder1.jpg" alt="images">
                    </div>
                    <div class="details">
                        <h2>Eating<br><span>Disorders</span></h2>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card-services">
                    <div class="imgBx">
                        <img src="../../../assets/services/Grief_Counselling.jpg" alt="images">
                    </div>
                    <div class="details">
                        <h2>Grief<br><span>Counselling</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>