<div class="mainbanner img-fluid" @fade>
                    <img class="img" src="../../../assets/about_us.jpg">
</div>
<div class="container-fluid" style="margin-top: 80px;" @fade>
    <div class="banner-heading">
        <h2 style="font-size: 40px;"><b>Founder</b></h2>
        <hr style="height: 1px; width: 100px;">
    </div>
    <div class="banner-sub-heading">
        <p><i>Rediscover Happyness is founded by <b>Ms. Aheesha</b>, <br>
                with the vision to provide the best possible solution to people<br>
                who are suffering from any mental health issue,
                <br>relationship issues, and career issues.</i></p>
    </div>

    <div class="container">
        <mat-card>
            <div class="row">

                <div class="col-md-5">
                    <img class="img-responsive" style="width: 100%;" src="../../../assets/thought_1.gif">
                </div>
                <div class="col-md-7 test-center">
                    <div class="mission"><b>Thought That Started It</b>
                        <hr style="height: 1px; width: 80px;">
                    </div>
                    <div class="mission-sub">
                        <p>In all human history, we have never lived better in terms of creature comforts,
                            medical care, connectivity tools, human rights and world peace.
                            However, never, have we been so devoid of close-knit relationships,
                            human to human connection and deep immersive experiences.
                            The bane of our existence today is that as our physical existence has
                            steadily improved, our mental existence has not been able to keep pace.
                            <br>
                            Rat race, sensory overload and
                            emotional isolation wreak havoc on our mental health. While longer life spans
                            and physically comfortable lives are being focused on in the world, we want
                            to optimise for enhanced mental wellbeing for maximum people. </p>
                    </div>
                </div>
            </div>
            <br />
            <mat-divider></mat-divider>
            <br />
            <div class="row">
                <div class="col-md-7 test-center">
                    <div class="mission"><b>Problem That we want to solve</b>
                        <hr style="height: 1px; width: 80px;">
                    </div>
                    <div class="mission-sub">
                        <p>Lack of Awareness – mental health is not synonymous with labelled psychiatric illnesses. 
                        Feeling lonely, empty, frustrated, overwhelmed and unhappy without 
                        a reason are also mental health issues that can be resolved with talk therapy.
                        <br>
                        Unstructured Ecosystem – system does not emphasize enough on the potential 
                        benefits of talk therapy. 
                        No platform is able connect enough trained counsellors to all the people in need of therapy.
                        <br>    
                        Lack of Access – affordable talk therapy in a safe environment is not available everywhere.</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <img class="img-responsive" style="width: 100%;" src="../../../assets/solved.gif">
                </div>

            </div>
        </mat-card>
    </div>

    <div class="banner-heading" style="margin-top: 80px;">
        <h2 style="font-size: 40px;"><b>Know Your Therapist</b></h2>
        <hr style="height: 1px; width: 100px;">
    </div>
    <!-- <div class="banner-sub-heading">
        <p><i>Rediscover Happyness is founded by <b>Ms. Aheesha</b>, <br>
                with the vision to provide the best possible solution to people<br>
                who are suffering from any mental health issue,
                <br>relationship issues, and career issues.</i></p>
    </div> -->

    <div id="bottom">
        <header class="ribbon-container">
          <h1></h1>
          <h2 class="ribbon">
            <a class="ribbon-content"><b>Ms. Aheesha</b></a>
          </h2>
          <div class="underpage">
              <div class="row">
                  <div class="col-md-3">
                    <img class="img-fluid" style="border-radius: 50%;max-height: 300px;" src="../../../assets/IMG_3916.JPG">
                    <!-- <mat-card>
                        <img mat-card-image src="../../../assets/IMG_3916.JPG" alt="Photo of Aheesha">
                    </mat-card> -->
                  </div>
                  <div class="col-md-7 text-left" style="font-size: 22px;">
                    <p>Ms. Aheesha has done her Masters in Clinical psychology; <br>
                        she is also a certified Life Coach from International practitioners of holistic medicine.
                        <br> She has done her guidance and counseling diploma from Jamia Millia Islamia University and <br>
                        Advance diploma in counseling skills from International School of counseling Holistic studies. 
                        <br>
                        Her vision is to spread awareness about mental health issues and importance of counseling in every aspects of life. </p>
                  </div>
              </div>
          </div>
        </header>
      </div>

</div>